
extends layout

block content
  main
    section.time
      #time
    #controls
      button#recordButton Record
      button#pauseButton(disabled='') Pause
      button#stopButton(disabled='') Stop
    #formats Format: start recording to see sample rate
    br
    strong Live:
      br
      ol#recordingsList
        each r in records
          li= r
            audio(controls="" src="/records/" + r type="audio/wav")
          a(href="/records/" + r download="playlist.wav") Save to disk  

    ul#messages

  script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  script(src='https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js')
  //- script(src="https://code.jquery.com/jquery-1.11.1.js")
  script(src="/javascripts/stopwatch.js")
  script(src="/javascripts/recorder.js")
  //- script(src='./javascripts/admin.js')
