extends layout

block content
  main#admin

    i#recordButton_video
    section.player_container

      section.video_test
          p
            button#record(disabled) Record
            button#stop(disabled) Stop

          div.row
            figure
              video#live(controls width="320")
              br
              captionlive preview
            
            figure
              video#recording(controls width="320")
              br
              caption recorded clip

      //- setion.video_recorder
      //-   a#download Download
      //-   button#stop Stop
      //-   video#player(controls width="80%" height="300px" autoplay='')
      //-     //- source(src="//s3cdn.panda-os.com/2996/content/entry/data/1/217/0_htzkav6b_0_215hhc6k_2.mp4" type="video/mp4")
      //-   input(type="file" accept="video/*" capture="camera" id="recorder")

     
      .player_controls
        i#recordButton
        i#pauseButton
        i#stopButton

        section.player_time-bar
          #time

      #formats Format: start recording to see sample rate

      section#messages_container
        ul#messages
          each m, i in messages
            li= m
        div.input_container
          input#messagesInput(autocomplete='off')
          button#messagesAction Send

    section.continer_songlist

      video#videoPlayer(controls width="80%" height="300px" autoplay)
          source(src="//s3cdn.panda-os.com/2996/content/entry/data/1/217/0_htzkav6b_0_215hhc6k_2.mp4" type="video/mp4")

      br
      strong Live:
      br
      ol#recordingsList
        each r, i in records
          li
            span.record_title= date[i]
            audio(controls="" src="/records/" + r type="audio/wav")
              a(href="/records/" + r download="playlist.wav") Save to disk  

      

  //- script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  script(src="/javascripts/stopwatch.js")
  script(src="/javascripts/recorder.js")
  script(src='/javascripts/chat.js')
