doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='./stylesheets/chat.css')  

body
    ul#messages
    form(action='')
        input#m(autocomplete='off')
        button Send
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src="/javascripts/chat.js")

