extends layout

block content
  h1= title
  p Welcome to #{title}

  #login
    label(for="username") Login
    input(id="username" placeholder="Login" required="" autofocus="")
    button#login Login

  #call
    video#local(autoplay)
    video#remote(autoplay)
    input#username-to-call(placeholder="Username to call")
    button#call Call
    button#close-call Close call


  script(src='./javascripts/client.js')