extends layout

block content
  #controls
    button#recordButton Record
    button#pauseButton(disabled='') Pause
    button#stopButton(disabled='') Stop
  #formats Format: start recording to see sample rate
  p
    strong Recordings:
  ol#recordings
    li
      audio(controls="" src="https://ps001.taboolasyndication.com:4400/demo.wav" type="audio/wav")
      a(href="https://ps001.taboolasyndication.com:4400/demo.wav" download="playlist.wav") Save to disk

  ol#recordingsList
       
  ul#messages
  form(action='')
    input#m(autocomplete='off')
    button Send

  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  //- script(src='https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js')
  script(src="https://code.jquery.com/jquery-1.11.1.js")
  //- script(src="./javascripts/recorder.js")
  script(src='./javascripts/client.js')
